.login__layout {
    padding: 0rem 5rem 5rem 5rem;
    height: 100vh;
    /* background-image: url(../../assets/media/icons/login/login_left_side_bg.png); */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: inherit;
    justify-content: center;
    align-items: center;
}

.header__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon__part {
    display: flex;
    align-items: center;
}

.logo__part img {
    width: 100%;
}

.icon__part img {
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
}

.bar__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar__section img {
    width: 100%;
    height: 5px;
}

.login__content {
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 25%;
}

.right__content {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.right__content label span,
.changePassword__section label span {
    font-size: 1.2rem;
    font-weight: 600;
    color: red
}

.forget__password__section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1rem;
    color: #009EF7;
    cursor: pointer;
}

.changePassword__section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    color: #009EF7;
    /* cursor: pointer; */
    height: 70vh;
}


/* Responsive */

/* Small Device */
@media screen and (max-width: 575px) {
    .login__layout {
        padding: 0rem 1rem 1rem 1rem;
    }

    .login__content {
        margin-top: 1rem;
        width: 70%;
    }

    .right__content {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* Medium Device */
@media screen and (min-width: 576px) and (max-width: 767px) {
    .login__layout {
        padding: 0rem 1rem 1rem 1rem;
    }

    .login__content {
        margin-top: 1rem;
        width: 50%;
    }

    .right__content {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* Large Device */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .login__layout {
        padding: 0rem 1rem 1rem 1rem;
    }

    .login__content {
        margin-top: 1rem;
        width: 45%;
    }

    .right__content {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 992px) and (max-width: 1991px) {
    .login__content {
        margin-top: 1rem;
        width: 45%;
    }
}